

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgoldenrodyellow ;
}
.jumbotron{
    text-align: center;
    color:blue;
    margin-bottom: 50px;
}

/*.container {
    position: absolute;
    background-color:  lightgoldenrodyellow;
}*/
aside {
    float: left;
    margin: 20px;
    background-color: linen;

}
.form-control {
    background-color: linen;
}
.btn {
    background-color: linen;
}
.list-group-item{
    background-color: linen;
}
.card {
    background-color: linen;
    border: 1px solid black;
    margin-top: 15px;
    margin-left: 90;
    padding-top: 15px;
    height: 185px;
}
#search-box{
    background-color: white;
}


#currentDay{
    margin-right: 10px;
}
#currentDay {
    color: black;
    margin-top: 30px;
    margin-right: 35px;
}
#temp {
    padding-bottom: 15px;
}
#current-city {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
#cityFacts {
    display: flex;
    flex-direction: column;
    margin-right: 295px;
}
#date {
    margin-left: 25px;
    
}



#city {
    font-weight: bolder;
    color: black;
    padding-left: 20px;
    margin-top: 30px;
}
#humidity{
    padding-bottom: 15px;
}
#windSpeed{
    padding-bottom: 15px;
}
#uvIndex{
    padding-bottom: 5px;
}
/*.container2{
    border: 1px solid black;
    margin-top: 285px;
    height: 215px;
    width: 1030px;
    background-color: linen;
    margin-left: 95px;
   }*/

   .row {
       margin-left: 300px;
   }
   h3 {
       text-align: center;
       color: black;
   }
   .date {
       text-align: center;
       
       margin-bottom: 10px;
       font-size: 25px;
   }
   .temp {
       text-align: center;
       
   }
   .humidity {
       text-align: center;
       
   }

