

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgoldenrodyellow ;
}
.jumbotron{
    text-align: center;
    color:blue;
    margin-bottom: 50px;
}
.add-date {
    color: red;
}
.container {
    position: absolute;
    background-color:  lightgoldenrodyellow;
}
aside {
    float: left;
    margin: 20px;
    background-color: linen;

}
.form-control {
    background-color: linen;
}
.btn {
    background-color: linen;
}
.list-group-item{
    background-color: linen;
}
.card {
    background-color: linen;
    border: 1px solid black;
    margin-top: 15px;
    padding-top: 15px;
    height: 185px;
}
#search-box{
    background-color: white;
}


#currentDay{
    margin-right: 10px;
}
#currentDay {
    color: blue;
    margin-top: 30px;
    margin-right: 35px;
}
#temp {
    padding-bottom: 15px;
}
#humidity{
    padding-bottom: 15px;
}
#windSpeed{
    padding-bottom: 15px;
}
#uvIndex{
    padding-bottom: 5px;
}
.container2{
    border: 1px solid black;
    margin-top: 285px;
    height: 215px;
    width: 1030px;
    background-color: linen;
    margin-left: 95px;
   
}
